<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>509648116036-fguhfqme4goro0e3ot3d9r6kpn7hmfrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509648116036-fguhfqme4goro0e3ot3d9r6kpn7hmfrn</string>
	<key>API_KEY</key>
	<string>AIzaSyD8X3YU3HSBKdX0rY0dtxDkQFzXytvak84</string>
	<key>GCM_SENDER_ID</key>
	<string>509648116036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xinatorres.ocr-app</string>
	<key>PROJECT_ID</key>
	<string>optical-char-recog</string>
	<key>STORAGE_BUCKET</key>
	<string>optical-char-recog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509648116036:ios:72446b8d803a9112</string>
	<key>DATABASE_URL</key>
	<string>https://optical-char-recog.firebaseio.com</string>
</dict>
</plist>